@import-normalize;

.thumbnail:hover {
  filter: drop-shadow(1px 2px 3px white);
}

#home {
  background-color: #222;
}

.bg-silver {
  background-color: silver;
}

.hover {
  position: relative;
  animation: hover 2s infinite;
  animation-timing-function: ease-in-out;
}

.nav-item {
  font-weight: bold;
  &:hover {
    color: #32cd32;
  }

  @media (max-width: 640px) {
    width: 100%;
    &:hover {
      color: #222;
      // background-color: yellow;
    }
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(2px);
  }
  20% {
    transform: translateY(4px);
  }
  30% {
    transform: translateY(6px);
  }
  40% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(8px);
  }
  70% {
    transform: translateY(6px);
  }
  80% {
    transform: translateY(4px);
  }
  90% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
  }
}
